version: '3.8'

services:
  sftp-source:
    image: atmoz/sftp
    container_name: sftp-source
    ports:
      - "2222:22"
    volumes:
      - ./data/source:/home/sourceuser/upload
    command: sourceuser:pass:1001:1001

  sftp-target:
    image: atmoz/sftp
    container_name: sftp-target
    ports:
      - "2223:22"
    volumes:
      - ./data/target:/home/targetuser/upload
    command: targetuser:pass:1002:1002
  # minio:
  #   image: minio/minio:latest
  #   container_name: minio
  #   ports:
  #     - "9000:9000"
  #     - "9001:9001"
  #   environment:
  #     MINIO_ROOT_USER: admin
  #     MINIO_ROOT_PASSWORD: admin12345
  #   command: server /data --console-address ":9001"
  #   volumes:
  #     - ./minio_data:/data
  #   networks:
  #     - default
networks:
  default:
    name: shared-network
    driver: bridge